#account_page {
    width: 100%;
    height: 100%;
    min-height: 50vw;
    display: flex;
    justify-content: space-between;
}
#account_menu {
    width: 30%;
    border-right: 1px solid black;
}
#account_menu h4, .account_content h4 {
    color: red;
    font-size: calc(16px + 1vw);
    text-align: center;
}
#account_menu ul {
    padding-inline-start: 0;
    width: 80%;
    margin: auto;
    text-align-last: center;
}
#disconnect_button_container {
    width: 80%;
    margin: 5% auto;
}
.account_content {
    width: 60%;
    font-size: calc(12px + 1vw);
}
#disconnect_button {
    width: 100%;
    height: 3vw;
    color: white;
    background-color: #009246;
    border: 0;
    outline: 0;
    font-size: calc(4px + 1vw);
}
.container_input_container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.account_button_container {
    margin-top: 5%;
    width: 70%;
    margin: auto;
    text-align-last: center;
}
.account_button {

}
.input_container {
    margin-bottom: 2%;
    width: 50%;
    background-color: #F1F2F1;
    text-align: center;
}
.account_input {
    background: transparent;
    border: 0;
    align-self: center;
    width: 95%;
    outline: 0;
}
.input_container label {
    margin-right: 2%;
}
#account_page li {
    list-style-type: none;
    font-size: calc(10px + 1vw);
    cursor: pointer;
    margin-bottom: 10%;
}
#loginId_info, #categorie_info, #product_info, #product_update {
    display: none;
}

