#login_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5% 0px;
}
/* The popup form - hidden by default */
.login-popup {
    width: 40%;
    box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.3);
}
/* Add styles to the form container */
.form-container {
    padding: 3%;
    text-align-last: center;
}
.form-container h4 {
    font-size: calc(20px + 1vw);
    margin: 0 0 10px 0;
}
.login_input {
    width: 80%;
    margin: auto;
}
.middle_size {
    display: flex;
    justify-content: space-between;
}
.middle_size input {
    width: 50%;
}
/* Full-width input fields */
.login_input input[type=text], .login_input input[type=password] {
    width: 100%;
    height: 4vw;
    margin: 0 0 4% 0;
    border: none;
    background: #f1f1f1;
}
.middle_size input[type=text], .middle_size input[type=password] {
    width: 49%;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #009246;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
}
.form-container span {
    text-decoration: underline black;
    cursor: pointer;
}
.login_radio {
    margin-bottom: 3%;
}
.error_container {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
.error {
    position: relative;
    width: 30%;
    margin: auto;
    top: 40%;
    padding: 3%;
    background-color: #F1F2F1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

}
.error p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(8px + 1vw);
    color: #CE2B37;
    text-align: center;
}
.disabledButton {
    color: gray;
    cursor: not-allowed;
}
