#shoppingCart {
    display: flex;
    justify-content: space-between;
    min-height: 50vw;
}
#shoppingCart_products {
    width: 70%;
    height: fit-content;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#shoppingCart_menu {
    width: 25%;
    border-left: 2px solid black;
}
#shoppingCart_menu h4 {
    font-size: calc(16px + 1vw);
    text-align: center;
    margin: 2% auto;
}
.menu_content {
    margin: 8% 0;
    font-size: calc(6px + 1vw);
}
.bold {
    font-style: normal;
    font-weight: bold;
}