#stampCatalogue {
    width: 100%;
    /*min-height: 75vw;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#stampMenu {
    width: 25%;
    border-right: 2px solid black;
}
#stampMenuContent {
    width: 25%;
    position: fixed;
}
#stampMenu h5 {
    font-size: calc(18px + 1vw);
    text-align: center;
    margin: 5% 0;
}
#product_view {
    width: 70%;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    height: 50vw;
}
.radio_container {
    margin: 5% 2%;
}
