@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700|Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');
/* ------- Général ------- */
html, body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Old Standard TT', serif; */
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
/* ------- Header ------- */
header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}
/* -- menu principal -- */
#topMenu {
    background-color: #F1F2F1;
    display: flex;
    justify-content: space-between;
}
#logo img{
    width: 200px;
}
#searchbar {
    width: 30%;
    height: 4vw;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    background: white;
    border: black 1px solid;
    border-radius: 5px;
}
#searchbar input {
    width: 80%;
    height: 100%;
    outline: 0;
    border: 0;
    background: 0;
}
#searchbar input[type=text] {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(4px + 1vw);
    padding-left: 2%;
}
#account_shopcart {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 20%;

}
#count {
    position: relative;
    bottom: 25%;
}
.iconify {
    width: calc(30px + 1vw);
    height: calc(30px + 1vw);
    cursor: pointer;
}
a .iconify {
    color: black;
}
.loop {
    height: 100%;
}
.footerIcon {
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
}
.welcome {
    align-self: center;
    font-family: 'Old Standard TT', serif;
    font-size: calc(25px + 1vw);
}
/* -- menu de navigation -- */
#menu {
    background-color: #CE2B37;
}
#menu nav {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}
#menu a {
    font-family: 'Old Standard TT', serif;
    color: white;
    text-decoration: none;
    font-size: calc(12px + 1vw);
}
/* ------- Footer -------- */
footer {
    width: 100%;
    height: 20%;
    background-color: #F1F2F1;
}
#allcontent {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    
}
#footerLogo {
    margin-top: 3%;
} 
#footerLogo img {
    width: 200px;
}
#icon {
    display: flex;
    justify-content: space-around;
}
footer h4 {
    font-size: calc(12px + 1vw);
    border-bottom: 2px solid black
}
/* ------- Acceuil -------- */
/* -- Bandeau -- */
#bandeau {
    position: relative;
}
#bandeau img {
    width: 100%;
}
#bandeau_text {
    position: absolute;
    width: 25%;
    top: 6%;
    right: 72%;
    background: rgb(0, 0, 0, 0.3);
    padding: 1%;
}
#bandeau h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: calc(12px + 1vw);
    -webkit-text-stroke: 0.7px;
    -webkit-text-stroke-color: black;
}
#bandeau h1[text] {
    border: 1px solid black;
}
/* -- Ventes flash -- */
#selection {
    width: 90%;
    margin: 5% auto;
    text-align: center;
}
#selection_container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.items {
    width: 30%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #F1F2F1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.26);

    margin: 1%;
}
.items_img {
    width: 50%;
    margin: auto;
}
.items_img img {
    width: 100%;
}
.items_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.items_name {
    font-size: calc(12px + 1vw);
    margin: 5%;
    text-align: center;
}
.items_price {
    font-size: calc(12px + 1vw);
    margin: 5%;
    text-align: center;
}
.items_button {
    width: 60%;
    height: 3vw;
    margin: auto;
    font-size: calc(1px + 1vw);
    color: white;
    background-color: #009246;
    border: 0;
    outline: 0;
}
.items_button:hover {
    border: 1px black solid;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}
    
